@using EvaluacionesOnline.Areas.Sistemas.Models
@{  
    var Sesion = (SesionModel)Session[SesionModel.SessionName];
}


<!DOCTYPE html>
<html>
    <head>
        <link href="/Temas/Trans01/dist/img/IconoSln.png" rel="shortcut icon">
        <meta charset="UTF-8" name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        @*open>>> Información: Cargando estilos de la página principal de sistemas*@

            <link href="/Temas/Trans01/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
            <link href="/Temas/Trans01/Online/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
            <link href="/Temas/Trans01/Online/css/ionicons.min.css" rel="stylesheet" type="text/css" />
            <link href="/Temas/Trans01/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
            <link href="/Temas/Trans01/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
            <link href="/Temas/Trans01/plugins/iCheck/flat/blue.css" rel="stylesheet" type="text/css" />
            <link href="/Temas/Trans01/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
            <link href="/Temas/Trans01/plugins/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
            <link href="/Temas/Trans01/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
            <link href="/Temas/Trans01/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
            <link href="/Temas/Trans01/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
            <link href="/Content/Shared/jquery.confirm.css" rel="stylesheet" />

        @*close>> Información*@

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="/Temas/Trans01/Online/js/html5shiv.min.js"></script>
            <script src="/Temas/Trans01/Online/js/respond.min.js"></script>
        <![endif]-->

    </head>

  <body class="skin-blue sidebar-mini">
    <div class="wrapper">

      <header class="main-header">
        <!-- Logo -->
        <a href="/Principal" class="logo" style="background:#f39c12">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><i class="glyphicon glyphicon-fire" style="color:white;font-size:30px"></i></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg" style="color:white;font-size:22px"><h4 style="margin:5px"><strong>Test Smart</strong></h4></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
              <!-- Notifications: style can be found in dropdown.less -->
              <!-- Tasks: style can be found in dropdown.less -->
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="/Recursos/Img/Usuario.jpeg" width="0px" class="img-circle" alt="User Image"/>
                  <span class="hidden-xs"><strong>BIENVENIDO(A):</strong> @Sesion.MME_Sesion.me_prueba.candidato.vc_nombres</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                      <img src="/Recursos/Img/Usuario.jpeg" width="0px" class="img-circle" alt="User Image"/>
                    <p>
                        @Sesion.MME_Sesion.me_prueba.candidato.vc_nombres
                    </p>
                  </li>
                  <li class="user-footer">
                    <div class="pull-right">
                      <a href="@Url.RouteUrl("AC_Salir")" class="btn btn-danger btn-flat">Salir</a>
                    </div>
                  </li>
                </ul>
              </li>
              <!-- Control Sidebar Toggle Button -->
              <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears" style="font-size:20px;color:black"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
                <img src="/Recursos/Img/Usuario.jpeg" width="0px" class="img-circle" alt="User Image"/>
            </div>
            <div class="pull-left info">
                <h6>@Sesion.MME_Sesion.me_prueba.candidato.vc_nombres</h6>
            </div>
          </div>
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header"><strong>OPCIONES DE NAVEGACIÓN</strong></li>
                @*open>>> Enlaces: Grupo de enlaces de sitio*@
                    <li class="active treeview">
                      <a href="#">
                        <span>SELECCIÓN</span> <i class="fa fa-angle-left pull-right"></i>
                      </a>
                      <ul class="treeview-menu">
                        @if(Sesion.MME_Sesion.me_prueba.candidato.nu_id_perfil > 2)
                        {
                            <li><a href="@Url.RouteUrl("V_EvaluacionesSitio")"><i class="fa fa-chevron-right"></i> Principal</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.RouteUrl("V_Informe")"><i class="fa fa-chevron-right"></i> Informes de los candidatos</a></li>
                        }
                      </ul>
                    </li>
                @*open>>> Enlaces*@

                @*open>>> Logo: Logo de la cuenta relacionada al candidato*@
                    <div class="col-md-12" style="padding:0px"><br /><br />
                        <img src="/Recursos/Img/LogoTisi.png" width="100%"/><br /><br />
                    </div>
                @*open>>> Logo*@
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

        <div id="MPSitio_Contenido">
            @RenderBody()
        </div>

      <footer class="main-footer">
        Copyright&copy;2019 <a style="font-family:Arial"><strong style="color:#DE7C04">Test Smart</strong></a>. Todos los derechos reservados.
      </footer>

        <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-trophy"></i></a></li>
          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Home tab content -->
          <div class="tab-pane" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Recent Activity</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                    <p>Will be 23 on April 24th</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-user bg-yellow"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                    <p>New phone +1(800)555-1234</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                    <p>nora@example.com</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-file-code-o bg-green"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                    <p>Execution time 5 seconds</p>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

            <h3 class="control-sidebar-heading">Tasks Progress</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Custom Template Design
                    <span class="label label-danger pull-right">70%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Update Resume
                    <span class="label label-success pull-right">95%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Laravel Integration
                    <span class="label label-warning pull-right">50%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Back End Framework
                    <span class="label label-primary pull-right">68%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

          </div><!-- /.tab-pane -->
          <!-- Stats tab content -->
          <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
          <!-- Settings tab content -->
          <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
              <h3 class="control-sidebar-heading">General Settings</h3>
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Report panel usage
                  <input type="checkbox" class="pull-right" checked />
                </label>
                <p>
                  Some information about this general settings option
                </p>
              </div><!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Allow mail redirect
                  <input type="checkbox" class="pull-right" checked />
                </label>
                <p>
                  Other sets of options are available
                </p>
              </div><!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Expose author name in posts
                  <input type="checkbox" class="pull-right" checked />
                </label>
                <p>
                  Allow the user to show his name in blog posts
                </p>
              </div><!-- /.form-group -->

              <h3 class="control-sidebar-heading">Chat Settings</h3>

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Show me as online
                  <input type="checkbox" class="pull-right" checked />
                </label>
              </div><!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Turn off notifications
                  <input type="checkbox" class="pull-right" />
                </label>
              </div><!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Delete chat history
                  <a href="javascript::;" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                </label>
              </div><!-- /.form-group -->
            </form>
          </div><!-- /.tab-pane -->
        </div>
      </aside>
      
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
        <script type="text/javascript">
            $.widget.bridge('uibutton', $.ui.button);
        </script>
    </body>
</html>
