@using EvaluacionesOnline.Areas.Sistemas.Models
@{

    ViewBag.Title = "HS | Evaluaciones";
    Layout = "~/Areas/Seleccion/Views/MPEvaluacionesSitio.cshtml";
    var Sesion = (SesionModel)Session[SesionModel.SessionName];
    string desc = "";
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            PARTES DE LA PRUEBA A DESARROLLAR
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.RouteUrl("V_EvaluacionesSitio")">Evaluaciones</a></li>
            <li><a href="@Url.RouteUrl("V_Pruebas")">Pruebas a Desarrollar</a></li>
            <li class="active">Partes</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">

                <div class="box">
                    <div class="box-header" style="background-color:#008DB7;color:white">
                    <div class="box-title">
                        <div class="col-md-3 text-center" style="padding-left: 5px;">
                            <img src="@Sesion.MME_Sesion.me_prueba.candidato.VC_IMAGEN_PERSONALIZAR" style="border-radius:4px;max-width:100%; max-height:140px"/>
                        </div>
                        <div class="col-md-9" style="padding-left:20px;padding-top:20px">
                            <h2><strong>¡BIEN @Sesion.MME_Sesion.me_prueba.candidato.vc_nombres! </strong></h2>
                            <br />             
                            @if (Sesion.MME_Sesion.me_prueba.candidato.nu_id_perfil == 3)
                            {
                                <p style="line-height:1.5">
                                    Recuerda que una prueba puede tener de 1 a más partes, por favor desarróllalas en orden y con toda sinceridad.
                                </p>
                            }
                            else
                            {
                                <p style="line-height:1.5">
                                    Estamos por iniciar la descripción del puesto en base a <strong> DISC.</strong> Pon atención a las instrucciones. 
                                </p>
                            }
                        </div>

                    </div>
                    </div>
                    <div class="box-body">
                        <h4>En el recuadro siguiente se muestran los tres estados por los que pasa cada parte de cada prueba en el proceso de evaluación:</h4>
                        <div class="col-md-12" style="padding:10px;background:#888888;">
                            <button style="width:120px; cursor:default" class="btn btn-warning"><h2 style="margin:0px;"><i class="glyphicon glyphicon-play-circle"></i></h2>INICIAR</button>
                            <button style="width:120px; cursor:default" class="btn btn-info"><h2 style="margin:0px;"><i class="glyphicon glyphicon-time"></i></h2>EN CURSO</button>
                            <button style="width:120px; cursor:default" class="btn btn-success"><h2 style="margin:0px;"><i class="glyphicon glyphicon-ok"></i></h2>REALIZADO</button>   
                            <a href="@Url.RouteUrl("V_Pruebas")"><button style="width:120px; float:right" class="btn btn-primary"><h2 style="margin:0px;"><i class="fa fa-arrow-left"></i></h2>REGRESAR</button></a>   
                        </div>
                            @foreach (var item in Model.ls_mme_prueba)
                            {
                                if (item.me_prueba.prueba_parte.nu_nro_parte == 1)
                                {
                                    desc = ViewBag.NombrePrueba;
                                }
                                else
                                {
                                    desc = ViewBag.NombrePrueba + " PARTE " + item.me_prueba.prueba_parte.nu_nro_parte;
                                }
                                <div class="col-md-12" style="padding:0px;margin:10px;border-radius:4px;border:2px solid #008DB7;background-image:-webkit-linear-gradient(top,rgba(245, 250, 255, 0.43),rgba(182, 218, 255, 0.75));">
                                    <div class="col-md-4" style="text-align:center;font-size:55px;background-color:white;border-radius:4px 4px;">
                                        <h1 style="font-size:60px;color:#0D76A9"><strong>@item.me_prueba.prueba_parte.nu_nro_parte</strong></h1>
                                        <img src="~/Recursos/Img/PruebaParte.png" width="100%" style="max-width:120px"/>

                                        @if (item.me_prueba.prueba_candidato.ch_estado == "TE")
                                        {
                                            <button style="width:60px" class="btn btn-success"><h2 style="margin:0px;"><i class="glyphicon glyphicon-ok"></i></h2></button>
                                        }

                                        @if (item.me_prueba.prueba_candidato.ch_estado == "PE")
                                        {
                                            <a style="width:60px" class="btn btn-warning" href="@Url.RouteUrl("V_PruebaPartePreguntas")?vc_desc_prueba_corta=@ViewBag.NombrePrueba&vc_desc_prueba=@desc&nu_id_prueba=@ViewBag.nu_id_prueba&nu_id_prueba_candidato=@item.me_prueba.prueba_candidato.nu_id_prueba_candidato&nu_id_prueba_parte=@item.me_prueba.prueba_parte.nu_id_prueba_parte&nu_id_pregunta="><h2 style="margin:0px;"><i class="glyphicon glyphicon-play-circle"></i></h2></a>
                                        }
                                        @if (item.me_prueba.prueba_candidato.ch_estado == "EC")
                                        {
                                            <a style="width:60px" class="btn btn-info" href="@Url.RouteUrl("V_PruebaPartePreguntas")?vc_desc_prueba_corta=@ViewBag.NombrePrueba&vc_desc_prueba=@desc&nu_id_prueba=@ViewBag.nu_id_prueba&nu_id_prueba_candidato=@item.me_prueba.prueba_candidato.nu_id_prueba_candidato&nu_id_prueba_parte=@item.me_prueba.prueba_parte.nu_id_prueba_parte&nu_id_pregunta="><h2 style="margin:0px;"><i class="glyphicon glyphicon-time"></i></h2></a>
                                        }
                                    <br /><br />
                                    </div>
                                    <div class="col-md-8" style="color:#1C708C;font-size:17px">                                        
                                        <p>
                                            <br />
                                            <strong>@ViewBag.NombrePrueba</strong>
                                            <br />
                                            <i class="glyphicon glyphicon-time"></i>
                                            @if (item.me_prueba.prueba.ch_tiempo == "0")
                                            {
                                                <label class="control-label">Sin tiempo límite</label>
                                            }
                                            else if (item.me_prueba.prueba.ch_tiempo == "2")
                                            {
                                                <label class="control-label">Inicio de la prueba: @(item.me_prueba.prueba.dt_hora_inicio)</label>
                                            }
                                            else 
                                            {
                                                <label class="control-label">@item.me_prueba.prueba_parte.nu_tiempo_limite_min min @item.me_prueba.prueba_candidato.nu_tiempo_transcurrido_segundos seg </label>
                                            }
                                        </p>
                                        <p style="text-align:justify">
                                            <strong>INSTRUCCIONES</strong><br />
                                        </p>
                                        <p id="ContenidoInstruccion" style="text-align:justify">
                                            @item.me_prueba.prueba_parte.vc_instruccion1
                                        </p>
                                        <br /><br />
                                    </div><hr />
                                </div>
                            }
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $('#ContenidoInstruccion').html($('#ContenidoInstruccion').text().trim());
        ValidaDISC();
    });
</script>